
.col-6.shadow{
    height: auto;
}

#stat div{
    height: auto;
}

#stat h6{
    margin-top: 10px;
}

#stat b{
    color: white;
    margin-top: 10px;
}

#stat span{
    color: white;
    font-size: 50px;
}

#pourcent div{
    text-align: center;
    margin-left: 5rem;
    text-shadow: 2px 4px 6px;
}

#pourcent span{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 20px;
}


